* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

h1 {
	color: gray;
	text-transform: uppercase;
}

#author {
	color: gray;
	letter-spacing: 5px;
}

.qualities {
	color: green;
}

input[required]{
	border-width: 2px;
	border-color: blue;
}

form > label {
	color: blue;
}

form button {
	background-color: green;
	height: 25px;
	width: 50px;
	color: white;
	font-size: 10px;
}